* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: whitesmoke;
    color: #202e54 ;
    font-weight: 300;
    font-family: Arial, sans-serif;
    font-size:20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width:1140px;
    margin: 0 auto;
}

header{
background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(css-img/bg-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.bg-img-text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

h1{
    margin:0;
}
